<p>this is angular</p>
<div class="studentComp">
    <span class="componentbg">student component</span>
    <app-student></app-student>
</div>

<div class="textComp">
    <span class="componentbg">text component</span>
    <app-text></app-text>
</div>
<div class="classBindComp">
    <span class="componentbg">class binding component</span>
    <app-class-bind></app-class-bind>
</div>

<div class="styleBinding">
    <span class="componentbg">styleBinging component</span>
    <app-style-binding></app-style-binding>
</div>

<div class="eventBinging">
    <span class="componentbg">Event binding component</span>

    <app-event-binging></app-event-binging>
</div>

<div class="eventBinging">
    <app-conditonal-block></app-conditonal-block>
</div>
<div class="eventBinging">
    <app-comp-intreaction (childInfo)="fromChild = $event" [kiranParent]="parentMsg"></app-comp-intreaction>
    <!-- [anyName] as your wish -->
    <!-- ex [fromParent]="variable naem" or [parent]="variable name" or [iamParent]="variable name" -->
</div>
<h1>{{ fromChild }}</h1>